<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="~{layout::menu}"></nav>
    <div class="p-5">
        <div class="py-5">
            <div class="card border-primary mb-3 mx-auto" style="max-width: 30rem;">
                <div class="card-header text-center text-bg-primary">
                    <h3>Verificación de DNI</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Ingresar fecha de nacimiento:</h5>
                    <form method="post" action="/ejercicio/tres">
                        <div class="mb-3">
                            <input type="date" class="form-control" aria-label="fechaNacimiento"
                                   aria-describedby="basic-addon1" name="fechaNacimiento" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Procesar</button>
                        </div>
                    </form>
                </div>
                <div th:if="${mensaje}" class="text-bg-primary">
                    <div class="card-header">
                        <h5 class="text-center" >[[${mensaje}]]</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>